<div class="container" *ngIf="selectedJob" >
  <div class="job-header darkContainer" >
    <div class="com-logo" [style.backgroundColor]="selectedJob.logoBackground">
      <img src="{{selectedJob.logo}}" alt="">
    </div>
    <div class="com-details" >
      <div class="com-name">
        <h2>{{selectedJob.company}}</h2>
        <p>{{selectedJob.company}}.com</p>
      </div>
      <div class="com-website">
        <button [href]="selectedJob.company" class="darkContainer">Company Site</button>
      </div>
    </div>
  </div>
  
  <div class="job-details-container darkContainer">
    <div class="job-details">
     <div class="job-title">
          <span>{{selectedJob.postedAt}} . {{selectedJob.contract}}</span>
          <h3>{{selectedJob.position}}</h3>
          <p class="job-location">{{selectedJob.location}}</p>
      </div>
      <app-button label="Apply Now"></app-button>
  </div>
    <div class="job-description">
        <p>{{selectedJob.description}}</p>
      </div>
      <div class="requirements">
        <h3>Requirements</h3>
        <p class="content">
          {{selectedJob.requirements.content}}
        </p>
        <div class="items"> 
          <p *ngFor=" let li of selectedJob.requirements.items">
            <span>&#x2022;</span>{{ li}}
          </p>
        </div>
      </div>
      <div class="role">
        <h3>What you will do</h3>
        <p class="content">
          {{selectedJob.role.content}}
        </p>
        <div class="items"> 
          <p *ngFor=" let li of selectedJob.role.items; let i = index" >
            <span>{{i}}</span>{{ li}}
          </p>
        </div>
      </div>
    </div>
</div>
<div class="footer darkContainer" *ngIf="selectedJob" [class.dark-theme]="dataService.isDarkTheme">
  <div class="job-footer">
    <div class="com-footer-name">
      <h3>{{selectedJob.position}}</h3>
      <p>{{selectedJob.company }}</p>
    </div>
    <div class="com-footer-website">
      <app-button label="Apply Now"></app-button>
    </div>
  </div>
      
  </div>
