:root{
  /* Primary colors */
  --violet:#4C54D2;
  --light-violet:#939BF4;
  --primary-color-darkBlue:#19202D;
  --midnight : #121721;

  /* Secondary colors */
  --secondary-color1:#FFFFFF;
  --light-gray:#F4F6F8;
  --gray:#9DAEC2;
  --dark-gray:#6E8098;

  /* font */
  --font-family: 'Kumbh Sans', sans-serif;
}

.container{
  width: 60%;
  margin: -13rem auto 0 auto;
  /* height: 140px; */
}

.job-header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color1);
  width: 100%;
  margin: 10rem auto 0 auto;
  height: 140px;
  border-radius: 10px;
}
.com-logo{
  width: 200px;
  height: 100%;
  margin-right: 20px;
  /* background-color: hsl(36, 87%, 49%); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
}
.com-logo img{
  width: 50px;
  height: 50px;
  size: bold;
}
.com-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  padding-right: 3rem;
  width: 100%;
}
.comSiteBtn.dark-theme{
  background-color: var(--dark-gray);
}
.comSiteBtn.dark-theme:hover{
  background-color: var(--gray);
  color: var(--secondary-color1);
}

.job-details-container{
  margin-top: 3rem;
  background-color: var(--secondary-color1);
  padding: 0 3rem 3rem 3rem;
}
.job-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  border-bottom: 1px solid var(--light-gray);
}
p span{
  margin-right: 2rem;
}
button{
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: var(--light-gray);
  color: var(--violet);
  border: none;
  height: 48px;
  /* width: 123px; */
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}
button:hover{
  background-color:var(--light-violet);
}
.apply{
    padding: 10px 20px;
    background-color: var(--violet);
    color: var(--secondary-color1);
    border: none;
    height: 48px;
    width: 123px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  
}
.apply:hover{
  background-color: var(--light-violet);
}

.job-title span,p{
  color:var(--gray);
  font-weight: 400;
 }
 .job-location{
   color: var(--violet);
   font-weight: 600;
 }
 .listDiv{
    display: flex;
    align-items: center;
 }
 .list{
  margin-right:1rem ;
  margin-bottom: 0.5rem;
  color: var(--violet);
  font-size: bold;
 }

 .footer{
  background-color: var(--secondary-color1);
  width: 100%;
 }
 .job-footer{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width:60%;
  margin: 5rem auto 0 auto;
}
.dark-theme{
  background-color: var(--midnight);
  color: #fff;
}

@media only screen and (min-width: 600px) and (max-width: 1024px){
  .container{
    width: 90%;
  }
  .job-header{
    width: 100%;
  }
  .job-footer{
    width: 90%;
  }
}
/* Mobile style */
@media only screen and (max-width: 599px){
  .container{
    width: 90%;
    margin: -5rem auto 0 auto;
  }
  .job-header{
    width: 100%;
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 230px;
  }
  .com-logo{
    width: 80px;
    height: 80px;
    margin:-7rem auto 0 auto;
    /* margin-bottom: 1rem; */
    border-radius: 30px;
  }
  .com-details{
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 0;
    /* margin: 0; */
    height: 120px;
  }
  .com-name{
    padding-top: 2rem;
    padding-bottom: 0;
    height: auto;
  }
  .com-website{
    height: auto;
    padding: 0 auto 0 auto;
  }
  .job-details-container{
    margin:1rem 0 0 0;
    padding: 0 1rem 0 1rem;
  }
  .job-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-gray);
  }
  .job-title{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0rem;
  }
  .job-footer{
    display: flex;
    align-items: center;
    justify-content:center;
    width:100%;
    margin: 5rem auto 0 auto;
  }
  .com-footer-name{
    display:  none;
  }
  .com-footer-website{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .apply{
    width: 90%;
    margin: 0 auto;
    
  }
  .applybtn{
    width: 100%;
    margin: 0 auto;
  }


}