<div class="container" *ngFor="let job of jobs">
  <div class="job-header">
    <div class="com-logo">
      <img src="../../../assets/logos/scoot.svg" alt="">
    </div>
    <div class="com-details">
      <div class="com-name">
        <h2>{{job.company}}</h2>
        <p>{{job.company}}.com</p>
      </div>
      <div class="com-website">
        <button [href]="job.company">Company Site</button>
      </div>
    </div>
  </div>
  
  <div class="job-details-container">
    <div class="job-details">
     <div class="job-title">
          <span>{{job.postedAt}} . {{job.contract}}</span>
          <h3>{{job.position}}</h3>
          <p class="job-location">{{job.location}}</p>
      </div>
      <button>Apply Now</button>
  </div>
    <div class="job-description">
        <p>{{job.description}}</p>
      </div>
      <div class="requirements">
        <h3>Requirements</h3>
        <p class="content">
          {{job.requirements.content}}
        </p>
        <p class="items"> {{job.requirements.items}}</p>
      </div>
      <div class="role">
        <h3>What you will do</h3>
        <p class="content">
          {{job.role.content}}
        </p>
        <p class="items"> {{job.role.items}}</p>
      </div>
    </div>
</div>
<div class="footer" *ngFor="let job of jobs">
  <div class="job-footer">
    <div class="com-footer-name">
      <h3>{{job.position}}</h3>
      <p>{{job.company }}</p>
    </div>
    <div class="com-footer-website">
      <button>Apply Now</button>
    </div>
  </div>
      
  </div>