:root{
  /* Primary colors */
  --violet:#4C54D2;
  --light-violet:#939BF4;
  --primary-color-darkBlue:#19202D;
  --midnight : #121721;

  /* Secondary colors */
  --secondary-color1:#FFFFFF;
  --light-gray:#F4F6F8;
  --gray:#9DAEC2;
  --dark-gray:#6E8098;
}
/* Header */
header{
  background-image: url('../assets/desktop/bg-pattern-header.svg');
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 160px;
  width: 100%;

}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 10rem;
  width: 80%; 
  height: 100%;
}


/* theme */
.theme-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px; 
  height: 24px;
  margin: 0 10px;
}

.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--secondary-color1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; 
  width: 18px;
  left: 3px; 
  bottom: 3px; 
  background-color: var(--violet);
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(18px); 
  -ms-transform: translateX(18px);
  transform: translateX(18px); 
}

.slider.round {
  border-radius: 24px; 
}

.slider.round:before {
  border-radius: 50%;
}
/* .dark-theme {
  background-color: #333;
  color: #fff;
} */