<header>
  <div class="header-container">
    <div class="logo" (click)="navigateToJobs()">
      <img src="./assets/desktop/logo.svg" alt="logo">
    </div>
    <div class="theme-container">
        <img src="./assets/desktop/icon-sun.svg" alt="sun-image">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        <img src="./assets/desktop/icon-moon.svg" alt="moon-image">
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<!-- <app-jobs></app-jobs> -->



