  <div *ngIf="!viewJob">
  <app-search-bar (searchClicked)="onSearch($event)"></app-search-bar>
  <div class="JobsContainer">
  <div class="grid-container">
    <div class="grid-item" *ngFor ="let job of filteredJobs" (click)="jobDetails(job)">
      <div class="job-logo" [style.backgroundColor]="job.logoBackground">
        <img src="{{job.logo}}" alt="">
      </div>
      <div class="job-details" >
        <div class="job-title">
          <span>{{job.postedAt}}. {{job.contract}}</span>
          <h3>{{job.position}}</h3>
          <p class="company">{{job.company}}</p>
        </div>
        <div class="job-location">
          <p>{{job.location}}</p>
        </div>
      </div>
    </div>
</div>
<div class="btn">
  <app-button label="Load More" *ngIf="showLoadMoreButton"  (onClick)="loadMore()"></app-button>
</div>
</div>
</div>

<app-job [jobs]="jobs" *ngIf="viewJob"></app-job>

<div class="noJob" *ngIf="noJobsFound">
  <h1>No Jobs Found</h1>
</div>