.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  margin: 5rem 10rem 0 10rem;
  width: 80%;
  height: 100%;
}
.grid-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  background-color: var(--secondary-color1);
  color: var(--midnight);
  /* font-size: 1.5rem; */
  font-weight: 700;
  border-radius: 10px;
  width: 340px;
  height: 253px;
  margin: 3rem 0 0 0;
  /* padding: 0 0 0 2rem; */
}
.job-logo{
  margin: -3rem 0 0 2rem;
  padding: 15px 4px;
  background-color: hsl(36, 87%, 49%);
  border-radius: 12px;
}

.job-details{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 3rem 0 0 2rem;
  padding: 0 0 0 0;
}
.job-title span,p{
 color:var(--gray);
 font-weight: 400;
}
.job-location p{
  color: var(--violet);
  font-weight: 600;
}