<div class="grid-container">
  <div class="grid-item">
    <div class="job-logo">
      <img src="./assets/logos/scoot.svg" alt="">
    </div>
    <div class="job-details">
      <div class="job-title">
        <span>5h ago . Full Time</span>
        <h3>Senior Frontend Developer</h3>
        <p class="company">Scoot</p>
      </div>
      <div class="job-location">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="job-logo">
      <img src="./assets/logos/scoot.svg" alt="">
    </div>
    <div class="job-details">
      <div class="job-title">
        <span>5h ago . Full Time</span>
        <h3>Senior Frontend Developer</h3>
        <p class="company">Scoot</p>
      </div>
      <div class="job-location">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="job-logo">
      <img src="./assets/logos/scoot.svg" alt="">
    </div>
    <div class="job-details">
      <div class="job-title">
        <span>5h ago . Full Time</span>
        <h3>Senior Frontend Developer</h3>
        <p class="company">Scoot</p>
      </div>
      <div class="job-location">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="job-logo">
      <img src="./assets/logos/scoot.svg" alt="">
    </div>
    <div class="job-details">
      <div class="job-title">
        <span>5h ago . Full Time</span>
        <h3>Senior Frontend Developer</h3>
        <p class="company">Scoot</p>
      </div>
      <div class="job-location">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="job-logo">
      <img src="./assets/logos/scoot.svg" alt="">
    </div>
    <div class="job-details">
      <div class="job-title">
        <span>5h ago . Full Time</span>
        <h3>Senior Frontend Developer</h3>
        <p class="company">Scoot</p>
      </div>
      <div class="job-location">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="job-logo">
      <img src="./assets/logos/scoot.svg" alt="">
    </div>
    <div class="job-details">
      <div class="job-title">
        <span>5h ago . Full Time</span>
        <h3>Senior Frontend Developer</h3>
        <p class="company">Scoot</p>
      </div>
      <div class="job-location">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>
</div>
