<div class="search-container">
  <div class="input-cont jobTitle">
    <img src="./assets/desktop/icon-search.svg" alt="">
    <input type="text" placeholder="Filter by title,companies,expertise..">
  </div>
  <div class=" input-cont location">
    <img src="./assets/desktop/icon-location.svg" alt="">
    <input type="text" placeholder="Filter by location...">
  </div>
  <div class="input-cont full-time">
    <div class="check-container">
      <input class="check" type="checkbox">
      <p style="width: 100%;">Full Time Only</p>
    </div>
    <app-button label="Search"></app-button>
  </div>
</div>